<script>
  $( document ).on('ready', function() {
    // init Save the Date
    save_the_date.init({
      weddingDate: "2016/05/15, 12:00", 
      //Date : enter your wedding date
      labels: ["days", "hours", "minutes", "secs"], 
      //Array of strings : labels of time units
      sendServerMessages: ["Thank you.", "Sorry, your message could not be sent due to an error."],
      //Array image pathes
      titles : ['Just us', 'Reception', 'Flowers we chose', 'In the eyes'],
      //Array of strings : corresponding titles
      });	
  });
</script>
<!--- NAVIGATION STARTS -->
<div class="nav-container">
  <div class="nav">
    <a  id="full-menu" href="#">&equiv;</a>
    <a class="active to-scroll" href="#top">Home</a>
    <a class="to-scroll" href="#ceremony">Ceremony</a>
    <a class="to-scroll" href="#stay">Stay</a>
    <a class="to-scroll" href="#gifts">Gifts</a>
    <a class="to-scroll" href="#rsvp">R.S.V.P.</a>
    <div class="effect"></div>
  </div>
</div>
<!--- NAVIGATION ENDS -->

<!-- HEADER STARTS -->
<header class="header" role="banner" id="top">
      <h1 class="wrapper"><span>Samantha</span> & <span>Trevor</span></h1>
      <div class="single">
        <span class="image pile">
          <%= image_tag "tram.jpg", size: "498x352", alt: "Church" %>
        </span>
      </div>
      <h2>
        <span class="event">are getting married...</span>
        <span class="date">15.05.2016</span>
        <span id="timer" class="timer"></span>
      </h2>		
</header>	
<!-- HEADER ENDS -->

<!--- MAIN CONTENT STARTS -->
<div class="content">

    <!-- ABOUT SECTION STARTS -->
    <section id="ceremony" class="about clearfix">
      <div class="they">
        <h2 class="title">Ceremony</h2>
        <div style="text-align: center;" class="single">
          <span class="image pile">
            <%= image_tag "wedding.jpg", size: "300", alt: "Church" %>
          </span>
        </div>
        <p>
          <strong>Trev & Sam</strong> will be getting married at Plantation Island Resort in Fiji on the 15th of May 2016 at around midday. What time exactly, we're not too sure, it's Fiji time after all!
        </p>
        <p>Make sure to leave plenty of time when you walk to the ceremony from your island bure, pool side location or palm strung hammock, as you may have to stop for a cocktail and a snooze on the way. Wear your fanciest beach wear, leave the shoes behind, slick back your hair and we'll see you there for that very special moment to share.</p>
      </div>
    </section>
    <!-- ABOUT SECTION ENDS -->
    
    
    <!-- CEREMONY SECTION STARTS -->
    <section  id="stay" class="flex-container ceremony">
      
      <div class="flexslider">
        <ul class="slides">
          <li style="background-image: url(<%= image_path "slide0.jpg" %>);"></li>
          <li style="background-image: url(<%= image_path "slide1.jpg" %>);"></li>
          <li class="fixed" style="background-image: url(<%= image_path "slide2.jpg" %>);"></li>
        </ul>
      </div>
      
      <div class="wrapper clearfix stay">
          <h2 class="title">Stay</h2>
          <p><a href="http://plantationisland.com/" target="_blank">Plantation Island Resort Fiji</a> is the location of both the wedding and reception,
            nestled on the 553 acre island of Malolo Lailai part of the Mamanuca Islands and 
            is just 16km offshore from Fijis mainland international airport Nadi.</p>
          <p>Samantha and Trevor will be staying at the resort from May 10th to May 17th</p>
          <p>We have arranged a fantastic group discount on all bookings made through 
            Plantation Island Resort. Bookings must be made direct with the resort and 
            cannot be combined with any other specials.</p>
          <p>20% off all accommodation bookings. Any booking made for 5 nights or more will
            also receive a $200 Fiji Dollar resort food and beverage voucher.</p>
            <p>To take advantage of this deal please send your booking request to
            <a href="mailto:reserve@plantationisland.com?subject=Hutchings / Wistaff Wedding Special May 15th">reserve@plantationisland.com</a>
            with the subject: <u>Hutchings / Wistaff Wedding Special May 15th</u></p>

          <h3>Pricing</h3>
          <p><%= link_to '2015 Plantation Island Resort prices', 'plantation_accommodation_pricing.xlsx' %></p>
          <p>Prices are per room per night and based on 2 adults sharing (kids stay free)</p>
          <p>Please note the above linked rates are the 2015 rate which the resort has offered to honour for any bookings made now and before the new rates come out (End of July / beginning of August) and will go up between 5 – 15% after this time</p>

          <h3>Other Accommodation Options</h3>
          <p>Unfortunately no specials are offered on the following options:</p>
          <p>
            Lomani, adults only resort<br>
            Lomani is a 5 star resort and located right next door to Plantation<br>
            <a href="http://lomaniisland.com/" target="_blank">http://lomaniisland.com/</a>
          </p>
          <p>
            Musket Cove<br>
            A 10 minute walk away<br>
            <a href="http://www.musketcovefiji.com/">http://www.musketcovefiji.com/</a>
          </p>

          <h3>Getting There</h3>
          <p>Step 1: Fly into Nadi Fiji International Airport.<br>
          Step 2: Get to Plantation, Lomani or Musket cove by air (10 minutes) or boat (50 minutes).<br>
          Details here: <a href="http://plantationisland.com/the-island/transfers/" target="_blank">http://plantationisland.com/the-island/transfers/</a>
          </p>
        </div>
    </section>
    <!-- CEREMONY SECTION ENDS -->
    
    <!--- REGISTRY STARTS -->	
    <section id="gifts" class="registry">
      <div class="wrapper">
        <h2 class="title">Gifts</h2>
        <h3>To gift or not to gift, that is the question.</h3>
        <p>A destination wedding was our desire,<br>
          So simply your presence is all we require<br>
          Sharing our day with the people we love,<br>
          For us is definitely gift enough.<br>
          But if a gift is still your intention,<br>
          May we take this opportunity to mention,<br>
          Rather than something we have already got,<br>
          We would appreciate a donation for our<br>
          Honeymoon pot.
        </p>
      </div>
    </section>
    <!--- REGISTRY ENDS -->

    <!--- RSVP STARTS -->
    <section id="rsvp" class="contact">
        <h2 class="title">R.S.V.P.</h2>
      <div class="wrapper">

        <div id="note">
          <p>We look forward to celebrating with you in a tropical paradise.</p> 
          <p>Please reply asap.</p>
        </div>

        <div class="successful"><h3>Thanks!</h3></div>
        
        <form id="rsvp-email">
          
          <fieldset>
            <h3>Will you be joining us for the best wedding, party & holiday ever?</h3>
            <div class="checkbox">
              <input type="checkbox" name="check-reception" id="check-reception" >
              <label for="check-reception">Yes! Sign us up captain.</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" name="check-ceremony" id="check-ceremony" >
              <label for="check-ceremony">Sorry, no can do.</label>
            </div>
          </fieldset>

          <fieldset id="guests">
            <h3>Guest Details:</h3>
            <input type="text"  id="adults" name="adults" placeholder="Number of Adult Guests*">
            <input type="text"  id="children" name="children" placeholder="Number of Children">
          </fieldset>
          
          <fieldset>
            <h3>Personal Informations:</h3>
            <input type="text" id="name" name="name" placeholder="Your Name*">
            <input type="email" id="email" name="email" placeholder="Your E-mail*">
            <textarea name="message" class="form-message" id="message" placeholder="Want to drop us a line?"></textarea>
          </fieldset>
          
          <div class="stateful-button">
            <div class="spinner"></div>
            <input type="submit" class="submit" id="send" value="send">
          </div>
          
        </form>
        
        <h3>Or contact us directly:</h3>
        <div class="contact-details contact-details-1">
          <h4>Samantha</h4>
          <p>+61 466 500 915</p>
          <p>
            <a href="mailto:samanthakhutchings@gmail.com?subject=RSVP">samanthakhutchings@gmail.com</a>
          </p>
        </div>
        <div class="contact-details contact-details-2">
          <h4>Trevor</h4>
          <p>+61 410 831 066</p>
          <p>
            <a href="mailto:easyco@gmail.com?subject=RSVP">easyco@gmail.com</a>
          </p>
        </div>
          
      </div>
        
    </section>
    <!--- RSVP ENDS -->
  </div>	
  <!--- MAIN CONTENT ENDS -->
